<%
//  引数の指定セクションによって分岐
var col_top, col_bottom;
if(typeof sec === 'undefined') { var sec = '1'; }
if( sec =='1' ){
    col_top = "--black";
    col_bottom = "--key";
} else if( sec =='2' ){
    col_top = "--key";
    col_bottom = "--black";
}
-%>
    <!-- section : CTA -->
    <section class="l-section p-cta" id="cta">
        <div class="p-cta__bg">
            <!--
            <picture>
                <source srcset="<% dir['img'] %>/top/pc/webp/cta_bg.webp" type="image/webp">
                <img src="<% dir['img'] %>/top/pc/cta_bg.jpg" alt="" width="1408" height="1408">
            </picture>-->
        </div>
        <div class="c-pathobject__wrapper --rev">
            <div class="c-pathobject__sec <%- col_top %> --rev"></div>
        </div>
        <div class="l-heading --center p-cta__heading">
            <h2>ARE YOU READY TO FIGHT?</h2>
        </div>
        <div class="l-btn --center p-cta__btn">
            <button class="c-button__cv --cta">PLAY NOW</button>
        </div>
        <div class="c-pathobject__wrapper">
            <div class="c-pathobject__sec <%- col_bottom %>"></div>
        </div>
    </section>
    <!-- section:END -->
