<%
var id = arg['incdir']+arg['dir']['img']+'/contact';
var ids= arg['incdir']+arg['dir']['img']+'/contact/sp';
%>
    <!-- section : flow -->
    <section class="l-section p-contact" id="contact">
        <div class="l-inner p-contact__inner">
            <h2 data-eff="fadein-up">
                <picture class="sec-ttl">
                    <img src="<%- id %>/sec_ttl@2x.png" alt="Contact お問い合わせ" width="270" height="133">
                </picture>
            </h2>
            <div class="p-contact__txtwrap" data-eff="fadein-up">
                <p>
                    <picture>
                        <img class="p-contact__txt" src="<%- id %>/sec_txt@2x.png" alt="〈まずは、お気軽にお問い合わせください〉" width="800" height="60">
                    </picture>
                </p>
            </div>
            <%- include('../parts/_cvbtn', { arg:ary }) -%>
        </div>
    </section>
    <!-- section:END -->
