    <!-- section : MV -->
    <section class="l-section p-mv" id="mv">
        <div class="p-mv__bg">
            <div id="video-area">
                <video id="video" poster="" webkit-playsinline playsinline muted autoplay loop>
                <source src="<%- dir['img'] %>/top/pc/video.mp4" type="video/mp4">
                <p>動画を再生できる環境ではありません。</p>
                </video>
            </div>
            
        </div>
        <div class="l-body p-mv__body">
            <div class="p-mv__inner">
                <div class="p-mv__texts">
                    <p class="genre">VR GAME</p>
                    <h2 class="enff" lang="en">
                        <span>Planet<br>Hunters</span>
                    </h2>
                    <p class="sub">惑星を奪還せよ</p>
                </div>
                <div class="l-btn --left p-mv__buttonwrapper">
                    <a class="c-button__cv --mv" href="#"><span>PLAY NOW</span></a>
                </div>
            </div>
            <div class="p-mv__newswrapper">
                <div class="p-mv__newsbox">
                    <p class="loop"><span>2030.02.20</span>バージョン5.6リリース：アバター・アイコンリリースしました。</p>
                    <!--<p class="loop2"><span>2030.02.20</span>バージョン5.6リリース：アバター・アイコンリリースしました。</p>-->
                </div>
            </div>
            <div class="c-animobj__scrolldown">
                <span>Scroll</span>
            </div>
        </div>
        <div class="p-mv__pathobject">
            <div class="c-pathobject__sec --black"></div>
        </div>
    </section>
    <!-- section:END -->
