<%
var incdir = arg['incdir'];
if( arg['pageid'] == 'index' ){
    incdir = "";
}
%>
    <!-- section : MV -->
    <section class="l-section p-mv" id="mv">
        <div class="p-mv__bg">
            <picture>
                <img src="<%- incdir %>assets/images/mv/pc/hero.png" alt="" width="1440" height="768">
            </picture>
        </div>
        <div class="l-body p-mv__body">
            <div class="p-mv__inner">
                <div class="p-mv__texts">
                    <h2 class="enff" lang="en">
                        <span>WEB DESIGN SPECIALIST</span>
                    </h2>
                    <p class="sub">お客様の夢を叶える<br class="u-display__sp">Webサイトを制作</p>
                </div>
                <div class="l-btn --pc-center --sp-left p-mv__buttonwrapper">
                    <a class="c-button__contact --mv" href="page/contact.html"><span>CONTACT</span></a>
                </div>
            </div>
            <div class="c-animobj__scrolldown --vertical">
                <span>SCROLL</span>
            </div>
        </div>
    </section>
    <!-- section:END -->
