<%
var incdir = arg['incdir'];

    var nowpage = 0;    //  現在のページ
    var i = 0;
    var incpath = arg[''];
    var nary = [];
    nary[0] = { dy:"2030", dm:"02",dd:"01", cat:"お知らせ", title:"Webデザインニュースサイト「ウェブマガジン」に取材いただきました" };
    var dt= "2030-02-01";
    var dtt="2030.02.01"
-%>
    <!-- section : SINGLE -->
    <section class="l-section p-single" id="single">
        <article class="l-body p-single__body">
            <div class="l-inner p-single__inner">
                <div class="p-single__content">
                    <!-- 本当はWordPressであれば記事内容は自動取得
                        EJSでデータベースまで作っていられない。仮組みする。
                        ※やるとしたら変数ではなく個別ページ生成となる
                    -->
                    <div class="p-single__heading">
                        <h1>Webデザインニュースサイト「ウェブマガジン」に取材いただきました</h1>
                        <!--こういう細かいパーツも呼び出しにした方がいい -->
                        <div class="p-news__info">
                            <time datetime="<%- dt %>"><%- dtt %></time>
                            <button class="p-news__category">お知らせ</button>
                        </div>
                    </div>
                    <picture>
                        <img src="<%- incdir %>assets/images/news/pc/article1.png" alt="" width="720" height="384">
                    </picture>
                    <p>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
                    <h3>大見出し</h3>
                    <p>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
                    <h4>小見出し</h4>
                    <p>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
                    <p>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>  
                </div>
                <div class="l-wrapper --left p-single__snswrapper">
                    <!-- c-snsとか作った方がいい -->
                    <div class="fb">
                        <div class="fb-like" 
                        data-href="https://www.your-domain.com/your-page.html" 
                        data-width=""
                        data-layout="button_count" 
                        data-action="like" 
                        data-size="small"  
                        data-share="true">
                        </div>
                    </div>
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    
                    <!--LINE <i class="fa-brands fa-line"></i>-->
                    <div class="line-it-button" data-lang="ja" data-type="share-b" data-env="REAL" data-url="https://developers.line.biz/ja/docs/line-social-plugins/install-guide/using-line-share-buttons/" data-color="default" data-size="small" data-count="false" data-ver="3" style="display: none;"></div>
                    <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
                </div>
                <div class="l-wrapper p-single__articlelinkwrapper">
                    <div class="p-single__prevbutton"><a href="#">Web Conference様のサイトを制作いたしました</a></div>
                    <div class="p-single__nextbutton"><a href="#">プライバシーマーク取得のお知らせ</a></div>
                </div>
                <div class="l-wrapper --center p-single__viewlinkwrapper">
                    <a href="news.html">
                        NEWS一覧
                    </a>
                </div>
            </div>
        </article>
    </section>
    <!-- section:END -->
