    <!-- section : NEWS -->
    <section class="l-section p-top-news" id="news">
        <div class="l-body p-top-news__body">
            <div class="l-inner p-top-news__inner">
                <div class="p-top-news__content">
                    <div class="l-heading --pc-left --sp-center p-top-news__heading">
                        <h2 class="c-title__section --key --pc-left --sp-center">NEWS<span>お知らせ</span></h2>
                    </div>
                    <ul class="p-top-news__list">
                        <li class="p-top-news__box">
                            <article class="p-top-news__article">
                                <div class="p-top-news__info">
                                    <time datetime="2030-02-01">2030.02.01</time>
                                    <button class="p-top-news__category">お知らせ</button>
                                </div>
                                <a href="page/single.html" class="alink">
                                    <h3>Webデザインニュースサイト「ウェブマガジン」に取材いただきました</h3>
                                </a>
                            </article>
                        </li>
                        <li class="p-top-news__box">
                                <article class="p-top-news__article">
                                <div class="p-top-news__info">
                                    <time datetime="2030-01-25">2030.01.25</time>
                                    <button class="p-top-news__category">制作実績</button>
                                </div>
                                <a href="page/single.html" class="alink">
                                    <h3>Smoothiesta様のWebサイトを制作いたしました</h3>
                                </a>
                            </article>
                        </li>
                        <li class="p-top-news__box">
                            <article class="p-top-news__article">
                                <div class="p-top-news__info">
                                    <time datetime="2030-01-20">2030.01.20</time>
                                    <button class="p-top-news__category">採用</button>
                                </div>
                                <a href="page/single.html" class="alink">
                                    <h3>Webデザイナーを１名募集中です！</h3>
                                </a>
                            </article>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- section:END -->
