<%
secflg = "";
srcdir = "";
if( !(typeof sec === "undefined" )){
    secflg = sec;
    srcdir = "../";
}
%>
    <!-- section : company -->
    <section class="l-section p-top-company" id="company">
        <div class="p-top-company__bg">
            <picture>
                <source srcset="<%- srcdir %><%- arg['dir']['img'] %>/company/sp/bg_circle_sp.png" media="(max-width: 768px)" width="375" height="574">
                <img src="<%- srcdir %><%- arg['dir']['img'] %>/company/pc/bg_company.png" alt="" width="1300" height="416">
            </picture>
        </div>
        <div class="l-body p-top-company__body">
            <div class="p-top-company__inner">
                <div class="l-heading --center p-top-company__heading">
<% if( secflg == "company" ){ -%>
    <h2 class="c-title__section --center --black">メッセージ</h2>
<% }else{ -%>
    <h2 class="c-title__section --center --key">COMPANY<span>私たちについて</span></h2>
<% } -%>
                </div>
                <h3>サイトのゴール =<br class="u-display__sp"> 夢を叶えること</h3>
                <p>お客様の夢を叶えること。<br>
                それがWebサイトのゴールであり、<br class="u-display__sp">私たちが目指すことです。<br>
                だからこそちゃんと成果を出すサイトを<br class="u-display__sp">全力でお作りします。<br>
                お客様の笑顔を見たい。<br>
                夢を実現する手助けをさせてください。</p>
<% if( secflg != "company" ){ -%>
                <div class="l-btn --center p-top-company__btn">
                    <a href="page/company.html" class="c-button__more --key">MORE</a>
                </div>
<% } -%>
            </div>
        </div>
    </section>
    <!-- section:END -->
