    <!-- section : works -->
    <section class="l-section p-top-works" id="works">
        <div class="l-body p-top-works__body">
            <div class="p-top-works__inner">
                <div class="p-top-works__bg">
                    <div class="p-top-works__bgfill"></div>
                </div>
                <!-- スワイパー-->
                <div class="p-top-works__swiper">
                    <div class="swiper" data-name="works">
                        <div class="swiper-wrapper">
                            <!-- Slides 1 -->
                            <div class="swiper-slide">
                                <picture class="p-works__image">
                                    <img src="assets/images/works/pc/works01.jpg" alt="works1" width="750" height="540">
                                </picture>
                            </div>
                            <!-- Slides 2 -->
                            <div class="swiper-slide">
                                <picture class="p-works__image">
                                    <img src="assets/images/works/pc/works02.jpg" alt="works2" width="750" height="540">
                                </picture>
                            </div>
                            <!-- Slides 3 -->
                            <div class="swiper-slide">
                                <picture class="p-works__image">
                                    <img src="assets/images/works/pc/works03.jpg" alt="works3" width="750" height="540">
                                </picture>
                            </div>
                        </div>
                    </div><!-- swiper -->
                        <!-- navigation buttons -->
                        <div class="swiper-button-prev">
                            <i class="fa-solid fa-angle-left"></i>
                        </div>
                        <div class="swiper-button-next">
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    <!-- pagination -->
                    <div class="swiper-pagination"></div>
                </div>
                <div class="p-top-works__infowrapper">
                    <div class="l-heading --center p-top-works__heading">
                        <h2 class="c-title__section --key">WORKS<span>制作実績</span></h2>
                    </div>
                    <p>様々なジャンルのWebサイト制作が可能です。<br>
                    ご購入やお申込み数の増加などを実現します！</p>
                    <div class="l-btn --center p-top-works__btn">
                        <a href="page/works.html" class="c-button__more --key">MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section:END -->
