    <!-- section : recruit -->
    <section class="l-section p-top-recruit" id="recruit">
        <div class="l-body p-top-recruit__body">
            <div class="l-inner p-top-recruit__inner">
                <div class="p-top-recruit__infowrapper">
                    <div class="l-heading --center p-top-recruit__heading">
                        <h2 class="c-title__section --center --key">RECRUIT<span>採用情報</span></h2>
                    </div>
                    <p>私たちと一緒に働きませんか？<br>
                    <div class="l-btn --center p-top-recruit__btn">
                        <a href="page/contact.html"class="c-button__more --key">MORE</a>
                    </div>
                </div>
                <div class="p-top-recruit__visualwrapper">
                    <picture>
                        <img src="assets/images/top/pc/recruit.png" alt="部下を指導する女性" width="666" height="346">
                    </picture>
                </div>
            </div>
        </div>
    </section>
    <!-- section:END -->
