    <!-- section : service -->
    <section class="l-section p-top-service" id="service">
        <div class="l-body p-top-service__body">
            <div class="p-top-service__inner">
                <div class="l-heading --center p-top-service__heading">
                    <h2 class="c-title__section --center --key">SERVICE<span>事業内容</span></h2>
                </div>
                <ul class="p-top-service__list">
                    <li class="p-top-service__box">
                        <picture>
                            <img src="assets/images/top/pc/service01.png" alt="work01" width="350" height="220">
                        </picture>
                        <h3>Webサイト制作</h3>
                        <p>新規サイトの制作はもちろんサイトリニューアルやランディングページの制作も可能です。</p>
                    </li>
                    <li class="p-top-service__box">
                        <picture>
                            <img src="assets/images/top/pc/service02.png" alt="work02" width="350" height="220">
                        </picture>
                        <h3>Webサイト運用</h3>
                        <p>サイトの更新作業や独自のアクセス解析に基づいたサイト改善のご提案をいたします。</p>
                    </li>
                    <li class="p-top-service__box">
                        <picture>
                            <img src="assets/images/top/pc/service03.png" alt="work03" width="350" height="220">
                        </picture>
                        <h3>アプリ開発</h3>
                        <p>スマートフォンアプリ開発の他、Vue.jsやReactによるWebアプリの開発が可能です。</p>
                    </li>
                </ul>
                <div class="l-btn --center p-top-service__btn">
                    <a href="page/service.html" class="c-button__more --key">MORE</a>
                </div>
            </div>
        </div>
    </section>
    <!-- section:END -->
