    <!-- footer -->
    <footer id="footer" class="l-section p-footer">
        <div class="l-body p-footer__body">
            <div class="l-inner p-footer__inner">
                <div class="p-footer__snswrapper">
                    <!-- c-snsとか作った方がいい -->
                    <div class="fb">
                        <div class="fb-like" 
                        data-href="https://www.your-domain.com/your-page.html" 
                        data-width=""
                        data-layout="button_count" 
                        data-action="like" 
                        data-size="small"  
                        data-share="true">
                        </div>
                    </div>
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    
                    <!--LINE <i class="fa-brands fa-line"></i>-->
                    <div class="line-it-button" data-lang="ja" data-type="share-b" data-env="REAL" data-url="https://developers.line.biz/ja/docs/line-social-plugins/install-guide/using-line-share-buttons/" data-color="default" data-size="small" data-count="false" data-ver="3" style="display: none;"></div>
                    <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
                    
                </div>
                <div class="p-footer__copylight">
                    <small>©Necopon games</small>
                </div>
                <div class="l-btn u-display__sp">
                    <button class="c-button__cv --footer">PLAY NOW</button>
                </div>
            </div>
        </div>
    </footer><!-- /footer -->
