    <!-- SPMENUとの被りを考慮し独立している
    <button class="c-hamburger fixed u-display__sp"
        data-js="button" data-name="hamburger"
        data-headerid="header" data-menuid="spmenu"
        data-menubgid="spmenubg">
        <div class="c-hamburger__inner">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </button>
     -->
