    <!-- loading -->
    <div class="l-loader" data-js="loadingscreen">
        <div class="trinity-rings-spinner">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>        
    
        <div class="load-text load-blink load-absolute">Loading...</div>
    </div>
