    <!-- loading -->
    <div class="l-loader" data-js="loadingscreen">
<%#
        <div class="trinity-rings-spinner">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="self-building-square-spinner">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square clear"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square clear"></div>
            <div class="square"></div>
            <div class="square"></div>
          </div>        
          <div class="breeding-rhombus-spinner">
            <div class="rhombus child-1"></div>
            <div class="rhombus child-2"></div>
            <div class="rhombus child-3"></div>
            <div class="rhombus child-4"></div>
            <div class="rhombus child-5"></div>
            <div class="rhombus child-6"></div>
            <div class="rhombus child-7"></div>
            <div class="rhombus child-8"></div>
            <div class="rhombus big"></div>
          </div>
          -%>

          <div class="pixel-spinner">
            <div class="pixel-spinner-inner"></div>
          </div>
    
        <div class="load-text load-blink load-absolute">Loading...</div>
    </div>
